#container{
    display: flex;
    border: solid 2px black;
}

#input, #output{
    flex: 1;
    margin: 5%;
    height: 300px;
    border: solid 2px black;
    font-size: larger;
    font-weight: bolder;

}

#input-text{
    width: 90%;
    height: 250px;
    font-size: larger;
    font-weight: bolder;
}
button{
    font-size: larger;
    height: 50px;
    width: 160px;
    background-color: gray;
}
h1{
    text-align: center;
}